<!DOCTYPE HTML>
<html>

<head>
    <title>Error</title>
</head>

<body>
    <style>
        body {
            padding: 50px;
            font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        }

        a {
            color: #00b7ff;
        }
    </style>
    <h1>
        Error
    </h1>
    <h2>
   
</body>

</html>