<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<nav class="navbar navbar-expand-lg flex-nowrap px-md-5 bg-bluedark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/images/header-logo v2.png" alt="" class="rounded float-start container" style="width: 49vw;">
        </a>

    </div> 
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-bluemoon">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/beranda">Beranda</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Profil
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/profil/sejarah-kel">Sejarah Kelurahan</a></li>
                        <li><a class="dropdown-item" href="/profil/">Profil Wilayah Kelurahan</a></li>
                        <li><a class="dropdown-item" href="#">Fasilitas Umum dan Tempat Wisata</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                    </ul>
                </li>


                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Pemerintahan
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/pemerintahan/visi_misi">Visi & Misi</a></li>
                        <li><a class="dropdown-item" href="/pemerintahan/struktur-pemerintahan">Struktur
                                Pemerintahan</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Data
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/data/data-penduduk">Data Penduduk</a></li>
                        <li><a class="dropdown-item" href="#">Data Pendidikan</a></li>
                        <li><a class="dropdown-item" href="#">Data Pekerjaan</a></li>
                        <li><a class="dropdown-item" href="#">Data Jenis Kelamin</a></li>
                        <li><a class="dropdown-item" href="#">Data UMKM</a></li>
                        <li><a class="dropdown-item" href="#">Data Status Pernikahan</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/peta">Peta</a>
                </li>
            </ul>
            
        </div>
        <a class="nav-link">
            <img src="/images/icons8-do-not-disturb-ios-96.png" class="container-fluid" alt="" id="toggle" width="20px" height="20px">
        </a>
    </div>


      
</nav>
<div class="card mb-1 z-index-1">
    <marquee onmouseover="this.stop()" onmouseout="this.start()">
        <div class="teks_berjalan">
            <span class="teks small">Sekilas Info | Kantor Kelurahan Oetete membuka pelayanan publik pada hari Senin -
                Jumat pukul 08.00 - 15:00 WITA <a
                    href="https://desamujur.lomboktengahkab.go.id/index.php/artikel/2021/8/24/visi-dan-misi"
                    rel="noopener noreferrer" title="Baca Selengkapnya">-- selengkapnya...</a>
            </span>
        </div>
    </marquee>
</div>
<script src="/javascripts/darkmode.js"></script>

