<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peta</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/maps-api.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
    <link rel="icon" href="/public/images/favicon.ico">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body class="transition-page-1">

    <!-- header start -->
    <%- include('header'); -%>
        <!-- header end   -->

        <div id="main-doc-body" class="">
            <div id="main-content">
                <div class="containter mx-auto">
                    <h2 class="text-center cursor-pointer" style="font-family:Arial;">PETA KELURAHAN OETETE</h2>
                </div>
                <hr>
                <div class="maps-api-responsive">
                    <iframe class="rounded-4"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7854.3763403929925!2d123.589011!3d-10.165355!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfce683903d1d9851!2sLurah%20office%20Oetete!5e0!3m2!1sen!2sid!4v1660067171901!5m2!1sen!2sid"
                        width="600" height="400" style="border: solid;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>
        </div>
        <hr>
        <form action="/beranda">
            <div class="text-md-end flex-wrap px-lg-5 py-4">
                <button class="btn btn-primary rounded-2" style="font-family: Arial;">
                    Kembali Ke Beranda
                </button>   
            </div>
        </form>





        <%-include('footer'); -%>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/js/all.min.js"
            integrity="sha512-8pHNiqTlsrRjVD4A/3va++W1sMbUHwWxxRPWNyVlql3T+Hgfd81Qc6FC5WMXDC+tSauxxzp1tgiAvSKFu1qIlA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>