<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potensi & Fasilitas Kelurahan</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/gallery-1.css"> 
    <link rel="stylesheet" type="text/css" href="/stylesheets/gallery2nd.css"> 

    <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:600,900" rel="stylesheet">
    <link rel="icon" href="/public/images/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <!-- library CSS for carousel-2 -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/carousel/owl.carousel.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/carousel/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/carousel/carousel style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
</head>

<body>
    <!-- header start -->
    <%- include('header'); -%>
        <!-- header end   -->

    <br><br>
    <div class="d-flex justify-content-center">
        <h2 class="mt-3 typings mx-auto" id="type" style="font-family: 'Barlow';font-weight:bold">Sejarah Kelurahan Oetete</h2>
    </div>
      <br>

    <div class="col-11 mx-auto">
        <div class="text-justify">
            <p class="fs-5">Kelurahan Oetete merupakan kelurahan yang letaknya berada didaerah perkotaan, berbeda dengan wilayah
                di Kupang yang sifatnya terlalu diujung kota (pesisir pantai) dan tidak ditengah-tengah kota. Wilayah
                Oetete tentu memberikan kemudahan dan efisiensi secara geografis karena Wilayah Oetete berada tepat ditengah-tengah
                Kota Kupang. Beberapa kemudahan dan ketersediaan yang ada di Oetete diantaranya seperti <b>fasilitas pendidikan, rumah sakit
                gereja, perbankan, serta penyiaran radio</b>. 
            </p>
        </div>
    </div>

    <div class="card text-center mt-5 container col-7 rounded-3">
  
        <div class="card-body bg-bluemoon text-white rounded-3">
          <h5 class="card-title underline-hover-arc"><img src="https://img.icons8.com/color/32/000000/school-building.png"/>&nbspFASILITAS PENDIDIKAN</h5>
        </div>
    </div>


          <div class="gallery-image">
            <div class="img-box">
              <img src="/images/pendidikan/paudoetete.jpg" alt="" />
              <div class="transparent-box">
                <div class="caption">
                  <p>PAUD</p>
                  <p class="opacity-low">PAUD KOMODO</p>
                </div>
              </div> 
            </div>
            <div class="img-box">
              <img src="/images/pendidikan/tkoetete.jpg" alt="" />
              <div class="transparent-box">
                <div class="caption">
                  <p>TK</p>
                  <p class="opacity-low">TK KRISTEN GMIT KEFAS OETETE</p>
                </div>
              </div>
            </div>
            <div class="img-box">
              <img src="/images/pendidikan/sdoetete.jpg" alt="" />
              <div class="transparent-box">
                <div class="caption">
                  <p>SD</p>
                  <p class="opacity-low">SD INPRES OETETE 3</p>
                </div>
              </div>
            </div>
            <div class="img-box">
              <img src="/images/pendidikan/smp2.jpg" alt="" />
              <div class="transparent-box">
                <div class="caption">
                  <p>SMP</p>
                  <p class="opacity-low">SMP NEGERI 2 KUPANG</p>
                </div>
              </div> 
            </div>
            <div class="img-box">
              <img src="/images/pendidikan/sma1.jpg" alt="" />
              <div class="transparent-box">
                <div class="caption">
                  <p>SMA</p>
                  <p class="opacity-low">SMA NEGERI 1 KUPANG</p>
                </div>
              </div> 
            </div>
        </div>

      <div class="card card-body col-12">
          <div class="mx-auto">
              <div class="text-justify">
                  <p class="fs-5"> Daftar Fasilitas Pendidikan beserta titik peta map :
                    <ol class="fs-6">
                      <li>PAUD KOMODO</li>
                      <p> <b>Alamat</b> :&nbspJalan Johar 1 No.3</p>
                      <a href="https://maps.app.goo.gl/yWTGdtS4fEN7LFrf9?g_st=iw" class="btn btn-outline-primary"><img src="https://img.icons8.com/fluency/32/000000/atm-location.png"/>Lihat Titik Peta</a>

                      <li class="mt-4">TK KRISTEN GMIT KEFAS OETETE</li>
                      <p> <b>Alamat</b> :&nbspJalan Meranti No.20</p>
                      <a  class="btn btn-outline-primary"><img src="https://img.icons8.com/fluency/32/000000/atm-location.png"/>Lihat Titik Peta</a>
                 
                      <li class="mt-4">SD INPRES OETETE 3</li>
                      <p> <b>Alamat</b> :&nbspJalan Meranti No.3</p>
                      <a href="https://maps.app.goo.gl/FiAnBkU1aN9SCMcPA?g_st=iw" class="btn btn-outline-primary"><img src="https://img.icons8.com/fluency/32/000000/atm-location.png"/>Lihat Titik Peta</a>

                      <li class="mt-4">SMP NEGERI 2 KUPANG</li>
                      <p> <b>Alamat</b> :&nbspJalan Tompello No.33</p>
                      <a href="https://maps.app.goo.gl/PbLwTV2LYoRoDyw47?g_st=iw" class="btn btn-outline-primary"><img src="https://img.icons8.com/fluency/32/000000/atm-location.png"/>Lihat Titik Peta</a>

                      <li class="mt-4">SMA NEGERI 1 KUPANG</li>
                      <p> <b>Alamat</b> :&nbspJalan Cak Doko No.59</p>
                      <a href="https://maps.app.goo.gl/mEGSjRpm3fKt8vFNA?g_st=iw" class="btn btn-outline-primary"><img src="https://img.icons8.com/fluency/32/000000/atm-location.png"/>Lihat Titik Peta</a>
                    </ol> 
                  </p>
              </div>
          </div>
      </div>

    <div class="card text-center mt-5 container col-7 rounded-3">
        <div class="card-body bg-bluemoon text-white rounded-3">
            <h5 class="card-title underline-hover-arc"><img src="https://img.icons8.com/emoji/32/000000/hospital-emoji.png"/>&nbspFASILITAS RUMAH SAKIT</h5>
        </div>
    </div>

        
    <div class="gallery-image mx-auto">
      <div class="img-box">
        <img src="/images/others/rsbhayangkara.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
            <p>RUMAH SAKIT</p>
            <p class="opacity-low">RUMAH SAKIT BHAYANGKARA</p>
          </div>
        </div> 
      </div>
    </div>

    <!-- The Card -->
    <div class="card card-body">
      <div class="mx-auto">
        <div class="text-justify">
            <p class="fs-5"> Daftar Fasilitas Rumah Sakit beserta titik peta map :
              <ol class="fs-6">
                <li>Rumah Sakit Bhayangkara Kupang</li>
                <p><b>Alamat</b> :&nbspJalan Nangka No.84</p>
                <a href="https://maps.app.goo.gl/NBDE46WDHCX2rM4LA?g_st=iw" class="btn btn-outline-primary"><img src="https://img.icons8.com/fluency/32/000000/atm-location.png"/>Lihat Titik Peta</a>
              </ol> 
            </p>
        </div>
      </div>
    </div>

    <div class="card text-center mt-5 container col-7 rounded-3">
        <div class="card-body bg-bluemoon text-white rounded-3">
            <h5 class="card-title underline-hover-arc"><img src="https://img.icons8.com/dusk/32/000000/merchant-account.png"/>&nbspFASILITAS PERBANKAN</h5>
        </div>
    </div>




    <div class="gallery-image mx-auto">
      <div class="img-box">
        <img src="/images/others/bankntt.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption"> 
            <p>BANK</p>
            <p class="opacity-low">BANK NTT</p>
          </div>
        </div> 
      </div>
    </div>

     <!-- The Card -->
     <div class="card card-body">
      <div class="mx-auto">
        <div class="text-justify">
            <p class="fs-5"> Daftar Fasilitas Perbankan beserta titik peta map :
              <ol class="fs-6">
                <li>Bank NTT</li>
                <p><b>Alamat</b> :&nbsp-</p>
                <a href="https://maps.app.goo.gl/5rZc5p1mznFEgKgTA?g_st=iw" class="btn btn-outline-primary"><img src="https://img.icons8.com/fluency/32/000000/atm-location.png"/>Lihat Titik Peta</a>
              </ol> 
            </p>
        </div>
      </div>
    </div>


    <div class="card text-center mt-5 container col-7 rounded-3">
        <div class="card-body bg-bluemoon text-white rounded-3">
            <h5 class="card-title underline-hover-arc"><img src="https://img.icons8.com/emoji/32/000000/church-emoji.png"/>&nbspFASILITAS IBADAH</h5>
        </div>
    </div>

    <div class="gallery-image mx-auto">
      <div class="img-box">
        <img src="/images/others/gereja.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption"> 
            <p>GEREJA</p>
            <p class="opacity-low">GEREJA GMIT JEMAAT KEFAS</p>
          </div>
        </div> 
      </div>
    </div>

         <!-- The Card -->  
     <div class="card card-body">
      <div class="mx-auto">
        <div class="text-justify">
            <p class="fs-5"> Daftar Fasilitas Ibadah beserta titik peta map :
              <ol class="fs-6">
                <li>Gereja GMIT Jemaat Kefas</li>
                <p><b>Alamat</b> :&nbspJl. Prof. Dr. W.Z Yohanes No.23</p>
                <a href="https://maps.app.goo.gl/mFbHvYYahahBRM9U9?g_st=iw" class="btn btn-outline-primary"><img src="https://img.icons8.com/fluency/32/000000/atm-location.png"/>Lihat Titik Peta</a>
              </ol> 
            </p>
        </div>
      </div>
    </div>

    <div class="card text-center mt-5 container col-7 rounded-3">
        <div class="card-body bg-bluemoon text-white rounded-3">
            <h5 class="card-title underline-hover-arc"><img src="https://img.icons8.com/color/32/000000/tabletop-radio.png"/>&nbspFASILITAS PENYIARAN</h5>
        </div>
    </div>

    <!-- <div class="img-thumbnail text-center mt-4">
        <img src="/images/others/rri.jpg" class="figure-img img-fluid rounded w-75 mx-auto" alt="A generic square placeholder image with rounded corners in a figure.">
        <figcaption class="figure-caption">Lembaga Penyiaran Publik RRI Kupang</figcaption>
    </div> -->

    <div class="gallery-image mx-auto">
      <div class="img-box">
        <img src="/images/others/rri.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
            <p>RRI</p>
            <p class="opacity-low">Lembaga Penyiaran Publik RRI Kupang</p>
          </div>
        </div> 
      </div>
    </div>

             <!-- The Card -->  
     <div class="card card-body">
      <div class="mx-auto">
        <div class="text-justify">
            <p class="fs-5"> Daftar Fasilitas Penyiaran beserta titik peta map :
              <ol class="fs-6">
                <li>Lembaga Penyiaran Publik RRI Kupang</li>
                <p><b>Alamat</b> :&nbspJalan Tompelo No 8</p>
                <a class="btn btn-outline-primary"><img src="https://img.icons8.com/fluency/32/000000/atm-location.png"/>Lihat Titik Peta</a>
              </ol> 
            </p>
        </div>
      </div>
    </div>

  

    












    <!-- <div class="container-gallery1">
        <div class="box">
          <img src="/images/pendidikan/paudoetete.jpg">
          <span>PAUD</span>
        </div>
        <div class="box">
          <img src="/images/pendidikan/tkoetete.jpg">
          <span>TK</span>
        </div>
    </div>

    <div class="container-gallery1">
        <div class="box">
            <img src="/images/pendidikan/sdoetete.jpg">
            <span>SD</span>
          </div>
          <div class="box">
            <img src="/images/pendidikan/smp2.jpg">
            <span>SMP</span>
          </div>
          <div class="box">
            <img src="/images/pendidikan/sma1.jpg">
            <span>SMA</span>
            </div>
    </div> -->

    <script type="text/javascript">
        var i = 0;
        var text = "FASILITAS & POTENSI";
        var speed = 150;
  
        document.getElementById("type").innerHTML = "";
        function type() {
          document.getElementById("type").innerHTML += text.charAt(i);
          i++;
          if (i > text.lenght) return;
          setTimeout(type, speed);
        }
        type();
      </script>








        <br><br><br><br><br><br><br><br><br><br>

        <%-include('footer'); -%>
        <%-include('scrollUp'); -%>    
        <script src="https://kit.fontawesome.com/bd1d04a488.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/javascripts/scrollTop.js"></script>
        <!-- <script src="/javascripts/scrollTop.js"></script> -->
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
                integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
                integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/js/all.min.js"
                integrity="sha512-8pHNiqTlsrRjVD4A/3va++W1sMbUHwWxxRPWNyVlql3T+Hgfd81Qc6FC5WMXDC+tSauxxzp1tgiAvSKFu1qIlA=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
        <!-- library JS for carousel-2 -->


        <script src="/javascripts/toggledoc.js"></script>
</body>

</html>