<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sejarah Kelurahan Oetete</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="icon" href="/public/images/favicon.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/footer.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link rel="stylesheet" href="/stylesheets/article.css">
</head>

<body class="transition-page-1">


  <!-- header start -->
  <%- include('header');-%>
    <!-- header end   -->


    <div class="d-flex justify-content-center">
      <h2 class="mt-3 typings mx-auto" id="type">Sejarah Kelurahan Oetete</h2>
    </div>

    <br>

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">

      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/2173308616.jpg" class="d-block w-75 h-75 mx-auto" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 clas>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/images/2898065458.jpg" class="d-block w-75  h-75 mx-auto" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/images/akurat_20190108112141_vhB717.jpg" class="d-block w-75 h-75 mx-auto" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon bg-danger" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon bg-danger" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    image.png
    <div class="container mt-4">
      <div>
        <h3 class="mb-3 underline-hover-arc cursor-pointer">PENGANTAR</h3>
      </div>
      <div class="card-body mx-auto col-lg-12 shadow-lg rounded-3">
        <article>
          <p class="justify-content-center fs-6 fade-in-12s">
            <br>
            Kita sebagai masyarakat Nusa Tenggara Timur khususnya di wilayah Kota Kupang tidak asing dengan Oetete,
            banyak yang mengenal Oetete sebagai nama kelurahan/desa. <br><br>
            Orang-orang pendahulu kita yang sudah lama menjadi masyarakat Kota Kupang tentunya jauh lebih mengenal
            sejarah dan seluk beluk dari nama 'Oetete',
            tapi tidak semua kita anak muda mengetahui sejarah dari nama Oetete yang kita tau Oetete hanya sebagai
            patokan untuk suatu destinasi tempat, misalnya "SMK 1 itu setelah Kelurahan Oetete"
            atau bisa juga orang-orang mencari Gereja GMIT Jemaat Kefas.
            <br><br> Tentu, nama tempat dijadikan patokan atau sebagai tanda pengenal karena tanpa nama wilayah justru
            membuat kita tidak mengetahui tujuan yang kita tempu. <br>
          </p>
        </article>
      </div>
    </div>


    <div class="card text-center mt-5 container col-7 rounded-3">
      <div class="card-header">
      </div>
      <div class="card-body bg-bluemoon text-white rounded-3">
        <h5 class="card-title underline-hover-arc">APA ITU OETETE?</h5>
        <p class="card-text"><strong>Agar pembahasan ini tidak melebar, kita langsung ke point utama...</strong></p>
        <a class="nav-link"><img src="https://img.icons8.com/ios-filled/50/fff6bf/low-priority.png"
            style="cursor: pointer;"></a>
      </div>
      <div class="card-footer rounded-3">

      </div>
    </div>
    
    <div class="container mt-5">
      <div>
        <h3 class="mb-2 underline-hover-arc">TITIK MULA TERCIPTA NAMA <u>'OETETE'</u></h3>
      </div>
      <div class="card-body mx-auto col-lg-12 shadow-lg rounded-3">
        <article>


          <p class="justify-content-center fs-6 fade-in-17s">
            <br>
            Seluk beluk dari nama ‘Oetete’ memiliki beberapa versi cerita rakyat yang bisa dibilang sebuah cerita
            yang melegenda.
            Di wilayah Desa Oetete, dulunya terdapat beberapa gua. <br><br> Salah satu gua tersebut dihuni oleh seorang
            nenek yang berasal dari Kecamatan Noemuti yang letaknya di Kabupaten Timur Tengah Utara (TTU).
            Nenek tersebut menghuni sebuah gua karena diasingkan dengan alasan nenek tersebut mengidap sebuah penyakit
            menular yang dapat menyebabkan kematian bagi warga sekitar disaat itu.
            <br><br>

            Gua tersebut merupakan tempat perawatan bagi dirinya, sekaligus sebagai tempat isolasi agar warga lain
            terhindar dari penularan penyakit yang diidapnya.
            Nenek tersebut setiap harinya diberi kiriman makanan dari hamba-hambanya dan tentunya hamba-hamba dari nenek
            tersebut meninggal sedikit demi sedikit karena penyakit yang ditulari oleh nenek.
            <br><br> Ia sangat rindu untuk bertemu dengan anak-anak dan cucu-cucunya, namun ia tidak diizinkan oleh
            penguasa Timor yang menempati Kupang kala itu.
            Dalam kerinduannya, ia hanya bisa menetaskan air mata selama puluhan tahun sampai pada akhir hidupnya.

            Setelah dari kematiannya,
            selalu ada air yang menetes dari langit-langit gua tersebut. <br><br> Air yang “menetes” dari langit-langit
            gua tersebut dipercaya oleh sebagian masyarakat Timor bahwa “tetesan”
            tersebut merupakan tetesan dari seorang nenek yang diasingkan ke dalam gua itu sampai pada titik akhir
            kehidupannya.
          </p>



          <div class="card container col-12">
            <div class="card-header bg-bluemoon">
              <div class="text-center text-white">
                <b>Catatan Penting!</b>
              </div>
            </div>
            <div class="card-body">
              <div class="accordion col-lg-10 mx-auto" id="regularAccordionRobots">
                <div class="accordion-item">
                  <h2 class="accordion-header bg-bluemoon" id="regularHeadingFirst">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#regularCollapseFirst" aria-expanded="false" aria-controls="regularCollapseFirst">
                      Arti dari Oetete
                    </button>
                  </h2>
                  <div id="regularCollapseFirst" class="accordion-collapse collapse"
                    aria-labelledby="regularHeadingFirst" data-bs-parent="#regularAccordionRobots">
                    <div class="accordion-body">
                      <blockquote class="blockquote mb-0 text-lg-center text-black">
                        <p class="fs-6">Oe&nbsp;&nbsp;&nbsp;= Air</p>
                        <p class="fs-6">Tete = Nenek (dalam Bahasa <b>Dawan Versi Noemuti)</b></p>
                      </blockquote>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header bg-bluemoon" id="regularHeadingSecond">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#regularCollapseSecond" aria-expanded="false"
                      aria-controls="regularCollapseSecond">
                      Kapan Oetete Resmi Menjadi Nama Desa?
                    </button>
                  </h2>
                  <div id="regularCollapseSecond" class="accordion-collapse collapse"
                    aria-labelledby="regularHeadingSecond" data-bs-parent="#regularAccordionRobots">
                    <div class="accordion-body">
                      <blockquote class="blockquote mb-0 text-black">
                        <p class="fs-6">
                            Nama "Oetete" sebagai nama dari wilayah pemerintah (desa oetete), muncul pertama kali pada tahun 1953, ketika status kota kupang disamakan
                            menjadi sebuah Kecamatan berdasarkan SK. <br><br> Mendagri tanggal 22 Oktober 1953 No. PUD 5/16/46. 
                        </p>
                     
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal -->
            




          </div>
        </article>
      </div>
    </div>




    <button id="btnScrollUp" onclick="topFunction()">
      <i class="material-icons">arrow_upward</i>
    </button>
    <script type="text/javascript">
      var i = 0;
      var text = "SEJARAH KELURAHAN OETETE";
      var speed = 150;

      document.getElementById("type").innerHTML = "";
      function type() {
        document.getElementById("type").innerHTML += text.charAt(i);
        i++;
        if (i > text.lenght) return;
        setTimeout(type, speed);
      }
      type();
    </script>
    <br><br><br><br><br><br><br>
    <%-include('footer'); -%>








      <script src="https://kit.fontawesome.com/bd1d04a488.js" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="/javascripts/scrollTop.js"></script>

      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>